@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
    font-family: "Montserrat", sans-serif;
}

@keyframes bounce-in {
  0% { transform: scale(0.3); opacity: 0; }
  50% { transform: scale(1.1); }
  70% { transform: scale(0.9); }
  100% { transform: scale(1); opacity: 1; }
}
.animate-bounce-in {
  animation: bounce-in 0.8s ease-out;
}

/* не совмещается с тейлвиндом, позже удалю */
/* .main-button {
    background-color: #0055A0;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s all ease;
}
.secondary-button {
    background-color: #8CC1E9;
    color: black;
    font-weight: 500;
    cursor: pointer;
} */