@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
    font-family: "Montserrat", sans-serif;
}

@keyframes bounce-in {
  0% { transform: scale(0.3); opacity: 0; }
  50% { transform: scale(1.1); }
  70% { transform: scale(0.9); }
  100% { transform: scale(1); opacity: 1; }
}
.animate-bounce-in {
  animation: bounce-in 0.8s ease-out;
}

@keyframes pulse-slow {
  0%, 100% { opacity: 0.6; transform: scale(1.05); }
  50% { opacity: 0.8; transform: scale(1.15); }
}
.animate-pulse-slow {
  animation: pulse-slow 6s ease-in-out infinite;
}

.animate-fade-in {
  animation: fadeIn 0.4s ease-out;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* не совмещается с тейлвиндом, позже удалю */
/* .main-button {
    background-color: #0055A0;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s all ease;
}
.secondary-button {
    background-color: #8CC1E9;
    color: black;
    font-weight: 500;
    cursor: pointer;
} */